<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WeatherContacts{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body style="background-color: #f2f4f7;">
    
    <!-- Navbar -->
    <nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'contact_list' %}">WeatherContacts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_list' %}">Contacts list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_create' %}">Add new contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron --> 
    <div class="mb-5" >
        <div class="p-5 text-center bg-body-tertiary" style="
        background-image: url('/static/img/0acfa157-2b77-4f59-81c5-483f2ed33bac.jpg');
        background-size: cover;
        background-position: center;
        height: 400px;">
          <div class="container py-5">
            <h1 class="text-body-emphasis">WeatherContacts – Smart Contact Book with Weather Insights</h1>
            <p class="col-lg-8 mx-auto lead">
                A simple contact manager that not only stores your friends and co-workers details, but also shows the current weather in their city.
            </p>
          </div>
        </div>
      </div>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
